<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andy.mengzhu">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".app.AndyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".ui.activity.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MainActivity" />

        <activity android:name=".ui.common.BaseActivity" />
        <!-- 记账界面 -->
        <activity
            android:name=".ui.activity.AddRecord"
            android:windowSoftInputMode="adjustPan" />

        <!-- 账务编辑界面 -->
        <activity
            android:name=".ui.activity.EditRecord"
            android:windowSoftInputMode="adjustPan" />

        <!-- 资金项列表页面 -->
        <activity android:name=".ui.activity.FundsList" />

        <!-- 类别项列表页面 -->
        <activity android:name=".ui.activity.CategoryList" />

        <!-- 借/还款人页面-->
        <activity android:name=".ui.activity.PersonList" />

        <!-- 关于界面 -->
        <activity android:name=".ui.activity.About" />
    </application>

</manifest>